<!--
Plugin Name: Drive-Thru On Demand Modal
Plugin URI: http://www.drivethruondemand.com/
Author: Paradigm
Version: 1.0.0
Author URI: http://www.paradigmcreative.com/
Donate link: https://paypal.me/paradigmdfw
License: GPLv2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Description: Creates a custom modal to feature your partnership with DTOD. 
This script is managed by Paradigm Creative for the use of Drive-Thru on Demand customers and clients. The script creates a custom modal to feature their partnership with DTOD

For questions on this plugin, please contact the developer at help@paradigmcreative.com
-->

<div class="modalmask"></div>

<div id="pc_modal">

    <a id="closemodal" class="close_modal" href="#null"><i class="fas fa-times"></i></a>

    <div class="container">

        <img class="logo" src="https://cdn.jsdelivr.net/gh/iamharlan/dtod-modal-standalone@1/templates/img/dtod_logo_light.png" alt="Drive-Thru On Demand" />

        <h2>Easy Ordering Through Our New App!</h2>

        <h3>We are partnering with Drive-Thru On Demand to offer app based ordering and curbside pickup!</h3>

        <p>Please download the app to place your order!</p>
        
        <a target="_blank" class="appstorelink" href="https://apps.apple.com/us/app/drive-thru-on-demand/id1443251601"><img src="https://cdn.jsdelivr.net/gh/iamharlan/dtod-modal-standalone@1/templates/img/appstore.png" alt="Download Drive-Thru On Demand on the App Store Today!" /></a>
        
        <a target="_blank" class="appstorelink" href="https://play.google.com/store/apps/details?id=dtod.customer.app&hl=en"><img src="https://cdn.jsdelivr.net/gh/iamharlan/dtod-modal-standalone@1/templates/img/googleplay.png" alt="Download Drive-Thru On Demand on Google Play Today!" /></a>

        <br class="pc_linebreak" />
        
        <a class="cta" href="https://drivethruondemand.com/" target="_blank">Learn More</a>

        <a href="#null" id="close" class="close_modal">No thank you.</a>
    </div>

</div>


