<!--
Plugin Name: Drive-Thru On Demand Modal
Plugin URI: http://www.drivethruondemand.com/
Author: Paradigm
Version: 1.1
Author URI: http://www.paradigmcreative.com/
Donate link: https://paypal.me/paradigmdfw
License: GPLv2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Description: Creates a custom modal to feature your partnership with DTOD. 
This script is managed by Paradigm Creative for the use of Drive-Thru on Demand customers and clients. The script creates a custom modal to feature their partnership with DTOD

For questions on this plugin, please contact the developer at help@paradigmcreative.com
-->

<div class="modalmask"></div>

<div id="pc_modal">

    <a id="closemodal" class="close_modal" href="#null"></a>

    <div class="pc_container">

        <img class="pc_logo" src="https://cdn.jsdelivr.net/gh/iamharlan/dtod-modal-standalone@1/templates/img/dtod_logo_light.png" alt="Drive-Thru On Demand" />

        <h2>Order Drive-Thru Now!</h2>

        <h3>We are partnering with <strong>Drive-Thru On Demand</strong> to offer easy online ordering and curbside pickup!</h3>

        <div class="pc-grid">
            <div class="col-1-3">
                <img class="step1" src="https://cdn.jsdelivr.net/gh/iamharlan/dtod-modal-standalone@1/templates/img/step1_light.png" alt="Download the App" />
                <h4>Step One</h4>
                <p>Download the App</p>
            </div>
            <div class="col-1-3">
                <img class="step2" src="https://cdn.jsdelivr.net/gh/iamharlan/dtod-modal-standalone@1/templates/img/step2_light.png" alt="Place Your Order" />
                <h4>Step Two</h4>
                <p>Place Your Order</p>
            </div>
            <div class="col-1-3">
                <img class="step3" src="https://cdn.jsdelivr.net/gh/iamharlan/dtod-modal-standalone@1/templates/img/step3_light.png" alt="Enjoy Delicious Food" />
                <h4>Step Three</h4>
                <p>Enjoy Delicious Food</p>
            </div>
        </div>

        <div class="pc-grid">
            <div class="col-1-2">  
                 <a target="_blank" class="appstorelink" href="https://apps.apple.com/us/app/drive-thru-on-demand/id1443251601"><img src="https://cdn.jsdelivr.net/gh/iamharlan/dtod-modal-standalone@1/templates/img/appstore.png" alt="Download Drive-Thru On Demand on the App Store Today!" /></a>
                 <p>Click here for iPhone</p>           
            </div> 
            <div class="col-1-2">
                <a target="_blank" class="appstorelink" href="https://play.google.com/store/apps/details?id=dtod.customer.app&hl=en"><img src="https://cdn.jsdelivr.net/gh/iamharlan/dtod-modal-standalone@1/templates/img/googleplay.png" alt="Download Drive-Thru On Demand on Google Play Today!" /></a>
                 <p>Click here for Android</p>           
            </div>

        </div>

    </div>

</div>